<core-drawer-panel id="drawerPanel" forceNarrow=true>
  <core-header-panel drawer>
    <core-toolbar id="navheader">
      <span>Menu</span>
    </core-toolbar>
    <core-menu>
      <paper-item>Cut</paper-item>
      <paper-item>Copy</paper-item>
      <paper-item>Paste</paper-item>
    </core-menu>
  </core-header-panel>

  <core-header-panel main>
    <core-toolbar id="mainheader">
      {{ paper-icon-button icon="menu" action='toggleDrawer' drawer="drawerPanel" }}
      <span flex>Welcome to Ember.js</span>
      {{ paper-fab icon="refresh" }}
    </core-toolbar>
  </core-header-panel>
</core-drawer-panel>

{{outlet}}
